<h1 style="display: flex; justify-content: center; padding: 5px">Food Details</h1>
<div class="menu">
  <div id="dets" class="foodItem">
    <span class="title"><a class="titles">{{theFood.label}}</a></span>
    <br>
    <div class="img">
      <div class="text"><a>ENERC_KCAL: {{theFood.nutrients.ENERC_KCAL}}</a></div>
      <div class="text"><a>PROCNT: {{theFood.nutrients.PROCNT}}</a></div>
      <div class="text"><a>FAT: {{theFood.nutrients.FAT}}</a></div>
      <div class="text"><a>CHOCDF: {{theFood.nutrients.CHOCDF}}</a></div>
      <div class="text"><a>FIBTG: {{theFood.nutrients.FIBTG}}</a></div>
      <div class="text"><a>Category: {{theFood.category}}</a></div>

    </div>
    <br><br>
  </div>
</div>
